body {
  width: 100%;
  overflow-x: hidden;
}

.p-nav {
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin: 1rem;
}

.logo > * {
  margin-left: 0.4rem;
}

.nav-search {
  width: max(30vw, 500px);
}

.nav-icons {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons > * {
  margin: 1rem;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .nav-search {
    display: none;
  }
}
