.wishlist-content {
  margin: 0 5px;
  padding-top: 3.5rem;
}
.wishlist-products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
    .wishlist-products {
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    
  }
