@import "./componentLibrary/button.css";
@import "./componentLibrary/input.css";
@import "./componentLibrary/card.css";
@import "./componentLibrary/text-utilities.css";
@import "./componentLibrary/badge.css";
@import "./componentLibrary/image.css";
@import "./componentLibrary/modal.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
*{
  margin:0;
  padding: 0;
}
body{
  background-color: #D3D3D3;
}
:root {
  --primary-color: #f7444e;
  --secondary-color:#353B47;
  --gray-border: #333;
  --white: #eff1f3;
  --avatar-letter-bg-color: #ae759f;
  --danger: #da4577;
  --warning: #fac739;
  --info: #7ccce4;
  --success: #76e2ac;
  --margin-width: 1rem;
  --shadow-color: rgba(2, 1, 1, 0.07);
  --stacked-list-color: #d09bc2;
  --margin-width: 1rem;
  --toast-bg-color: #ae759f;
}

i{
  cursor: pointer;
}